input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

body{
    padding: 30px;
}

.item{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}

form{
    padding-bottom: 30px;
}
